/* Navigation bar styles */
.navbar {
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center; /* Center the navigation bar horizontally */
    align-items: center;
    padding: 20px;
    position: fixed; /* Keep the navigation bar fixed at the top */
    top: 0; /* Align the navigation bar to the top */
    width: 100%; /* Make the navigation bar full width */
    z-index: 1000; /* Ensure the navigation bar appears above other elements */
    font-family: 'Montserrat', sans-serif;
}


.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: purple; /* Change color on hover */
}
