/* Navigation bar styles */
.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: purple; /* Change color on hover */
}

/* Body styles */
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
    margin: 0;
    background: linear-gradient(45deg, purple, cyan);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: textGradient 5s linear infinite;
}

@keyframes textGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
}

.link-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.link-icon {
    font-size: 24px;
    color: white;
    margin: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.link-icon[data-icon="fa-brands fa-twitter"]:hover {
    color: #1da1f2; /* twitter hover color */
}

.link-icon[data-icon="fa-brands fa-discord"]:hover {
    color: #5865F2; /* discord hover color */
}

.link-icon[data-icon="fa-solid fa-inbox"]:hover {
    color: #004f9f; /* email hover color */
}

.link-icon[data-icon="fa-brands fa-github"]:hover {
    color: #6e5494; /* github hover color */
}

.small-text {
    font-size: 12px;
    opacity: 0.8;
    margin-top: 10px;
}

footer {
    font-size: 12px;
    margin-top: auto;
    opacity: 0.6;
}
