body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #4287f5, #9c4cf5); /* Gradient blue to purple */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  max-width: 400px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  animation: colorShift 5s infinite alternate;
}

@keyframes colorShift {
  0% {
    -webkit-text-stroke-color: #4287f5;
  }
  100% {
    -webkit-text-stroke-color: #9c4cf5;
  }
}

.title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 15px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.add-button {
  font-size: 24px;
  font-weight: 700;
  border: 2px solid transparent;
  border-radius: 15px;
  padding: 20px 40px;
  background-color: black;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;
}

.add-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #4287f5, #9c4cf5);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.add-button:hover {
  color: black;
}

.add-button:hover::before {
  transform: scaleX(1);
}

.info-page {
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  padding: 20px;
  border-radius: 15px;
  color: #333;
  font-size: 18px; /* Increase the font size for the info text */
  margin-top: 20px;
}

.info-page h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info-page p {
  font-family: Arial, sans-serif;
  font-weight: 600;
}
