* {

    padding: 0;
    margin: 0;
  }
  
  canvas{
    display: block;
  }
  
  #selector {
      width:100%;
      height:100%;  
  }
  
  html {
    background: #0d0d0d;
    overflow: hidden;
  }
  
  ::selection {
    background: #000;
  }
  
  ::-moz-selection {
    background: #000;
  }
  
  #preload p {
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    font-size: 1.25rem;
  }
  
  #main {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
  }
  
  #preload {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 1.25rem;
    transition: 0.6s;
  }
  
  #hidden {
    opacity: 0;
    transition: 0s;
  }
  
  #links {
    color: #53544d;
    position: absolute;
    transform: translate(-50%, 50%);
    bottom: 20px;
    left: 50%;
    white-space: nowrap;
  }
  
  .menu h5 {
    display: inline;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    transition: 1s;
  }
  
  .menu h5 {
    text-decoration: none;
    transition: 1s;
  }
  
  .menu h5:hover {
    transition: 1s;
  }
  
  
  [required] {
    color: rgba(126, 10, 139, 0.588);
    box-shadow: none;
  }
  
  #wrapper {
    width: 100%;
    height: 100%;
    transition: 1s;
    background-color: #151618;
  }
  
  #glow {
    height: 400;
    filter: drop-shadow(0 0 0.45rem rgba(254, 254, 255, 0.712));
  }
  
  .letter {
    color: #ffffff;
    background: linear-gradient(to right, #ffffff, #aa8dff 50%, #ccc8df 50%);
    overflow: hidden;     
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    letter-spacing: 1;
  }
  
  .letter:hover {
    background-position: 0 100%;
    text-decoration: none;
       
  }
  
  #particles-js{
    position:absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .overlay-bottom-right {
    position: fixed;
    bottom: -200px;
    left: -400px;
    width: 600px;
    height: 600px;
    background-color: #0073ff;
    border-radius: 100%;
    filter: blur(50px);
    opacity: 0.8;
  }
  
  .overlay-top-right {
  
    position: fixed;
    top: -300px;
    right: -250px;
    width: 550px;
    height: 400px;
    background-color: #6a2da8ef;
    border-radius: 100%;
    filter: blur(50px);
    opacity: 0.5;
  }