body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: linear-gradient(to bottom right, #a275ff, #5000b8);
  background-attachment: fixed;
  background-size: cover;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.music-player {
  background-color: rgba(211, 211, 211, 0.25);
  padding: 20px;
  border-radius: 10px;
}



.player-controls {
  margin-bottom: 20px;
}

.player-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #36393f; /* Discord gray background */
  margin: 10px;
  color: #ffffff; /* Icon color */
  position: relative;
  transition: background-color 0.3s ease;
}

.player-button.clicked {
  background-color: red;
}

.player-button.clicked:hover {
  background-color: red;
}

.player-button:not(.clicked):hover {
  background-color: #484c52; /* Darker gray background on hover */
}

.player-button i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.play-button i:last-child {
  display: none;
}

.play-button.paused i:first-child {
  display: none;
}

.play-button.paused i:last-child {
  display: block;
}

.song-title {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 5px;
}

.song-artist {
  font-size: 18px;
  color: #ffffff;
  margin-top: 0;
}

.timer {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}

.progress-bar {
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: #ffffff;
  width: 0;
  transition: width 0.3s ease;
}

.song-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-width: 300px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.song-cover img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 300px; /* Adjust the maximum height as needed */
}

.guide {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-style: italic;
  padding: 10px 20px;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.guide.fade-in {
  opacity: 1;
}

.guide.fade-out {
  opacity: 0;
}

#sound-wave {
  display: block;
  visibility: visible;
}

}
