body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
}

.container {
  text-align: center;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
}

.instructions {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
}

#userGuess {
  font-size: 18px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #666;
  color: #fff;
  width: 80px;
  text-align: center;
}

#guessButton {
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  background-color: #0084FF;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 132, 255, 0.3);
}

#guessButton:hover {
  background-color: #0070cc;
}

#message {
  font-size: 18px;
  margin-top: 20px;
  color: #fff;
}

.version {
  font-size: 12px;
  color: #ccc;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Dark mode styles */
.dark-mode {
  background-color: #111;
}

.dark-mode .container {
  background-color: #222;
}

.dark-mode h1,
.dark-mode .instructions,
.dark-mode #userGuess,
.dark-mode #guessButton,
.dark-mode #message,
.dark-mode .version {
  color: #fff;
}
