body {
    font-family: 'Clash', sans-serif; /* load font */
    background-color: black;
    color: white; /* text color */
    text-align: center;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../pics/bg.png') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.4; /* 40% visibility */
    pointer-events: none; /* makes it non-selectable and non-draggable */
    z-index: -1; /* ensures it is behind all other content */
}


  @font-face {
    font-family: 'Clash';
    src: url('../fonts/Clash_Regular.woff') format('woff');
}
  
  .container {
    margin-top: 50px;
    position: static; /* add position relative */
  }
  
  footer { /* footer stuffs */
    font-style: light;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2%;
    width: 100%;
    text-align: center;
    font-size: 8px;
  }
  
  button {
    font-family: 'Clash', sans-serif;
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  
  @keyframes pop-up {
    0% { transform: scale(0.2); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }
  
  .pop-up {
    animation: pop-up 0.9s ease forwards;
  }
  
  #result {
    font-size: 30px !important;
    font-weight: black !important;
    margin-top: 20px !important;
    animation: pop-up 0.5s ease forwards;
  }
  
  
  .discord-icon {
      margin: 10px;
      display: inline-block;
      margin-bottom: 10px;
      position: relative;
  }
  
  .discord-icon a {
    font-size: 30px;
    color: #7289da;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
  }
  
  .discord-icon:hover a {
    color: #ffffff;
  }
  
  .alpha-icon {
      margin: 10px;
      display: inline-block;
      margin-bottom: 10px;
      position: relative;
  }
  
  .alpha-icon a {
    font-size: 30px;
    color: #90EE90;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
  }
  
  .alpha-icon:hover a {
    color: #ffffff;
  }
  
  .tooltip {
    position: auto;
  }
  
  .tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%) scale(0);
    background-color: #1b1b1d;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease, visibility 0.1s ease, transform 0.15s ease;
  }
  
  .tooltip:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
  
  .tooltip:hover::after {
    content: '';
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%) scale(1);
    background-color: #1b1b1d;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 0.1s ease;
  }
  
  .tooltip:hover::after {
    transform: translateX(-50%) scale(0);
  }
  
  
  @keyframes pop-in {
    0% {
      transform: translateX(-50%) scale(0.5);
    }
    100% {
      transform: translateX(-50%) scale(1);
    }
  }
  
  @keyframes pop-out {
    0% {
      transform: translateX(-50%) scale(1);
    }
    100% {
      transform: translateX(-50%) scale(0.5);
    }
  }
